/* @font-face{
    font-family: 'Bahij Janna';
    src:url('./bahij_janna_regular.ttf');
} */
*{
    /* font-family: 'bahij Janna'; */
    font-family: 'Lato', sans-serif;
}
body{
    background-color: rgb(253, 253, 253);
}